.autoPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero1 {
  background: url("../../assets/images/Servises/Avia.webp") center/cover
    no-repeat;
}
.hero2 {
  background: url("../../assets/images/Servises/Auto.webp") center/cover
    no-repeat;
}
.hero3 {
  background: url("../../assets/images/Servises/Sea.webp") center/cover
    no-repeat;
}
.hero4 {
  background: url("../../assets/images/Servises/Courier.webp") center/cover
    no-repeat;
}
.hero5 {
  background: url("../../assets/images/Servises/Brok-mobil.webp") center/cover
    no-repeat;
}
.hero6 {
  background: url("../../assets/images/Servises/Insurens.webp") center/cover
    no-repeat;
}
.hero7 {
  background: url("../../assets/images/Servises/Dangerous.webp") center/cover
    no-repeat;
}

.hero {
  position: relative;
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.heroTitle {
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  color: var(--color-white);
  text-shadow: 0.18rem 0.18rem 0 #1fb4cc, -0.12rem 0.12rem 0 #1fb4cc,
    0.12rem -0.12rem 0 #1fb4cc, -0.12rem -0.12rem 0 #1fb4cc;
  z-index: 2;
}

.subtitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-red);
}

.content {
  width: 100%;
  max-width: 70rem;
  margin: 1.5rem auto 1.5rem;
  padding: 0 2.5rem;
  box-sizing: border-box;
}

.text {
  font-size: 1rem;
  line-height: 1.45;
  margin-bottom: 0.8rem;
  color: var(--color-input);
  text-align: justify;
  text-indent: 2em;
}

.accent {
  color: var(--color-red-light);
  font-weight: 600;
}

/* --- Tablet --- */
@media (min-width: 48em) {
  /* 768px */
  .hero {
    height: 45vh;
  }

  .heroTitle {
    font-size: 3rem;
    margin-bottom: 0.2rem;
  }

  .hero5 {
    background: url("../../assets/images/Servises/Brok-comp.webp") center/cover
      no-repeat;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .text {
    font-size: 1.2rem;
    line-height: 1.45;
    margin-bottom: 0.8rem;
    color: var(--color-input);
    text-align: justify;
    text-indent: 2em;
  }
}

/* --- Desktop --- */
@media (min-width: 90em) {
  /* 1440px */
  .hero {
    height: 55vh;
  }

  .heroTitle {
    font-size: 4rem;
    margin-bottom: 0.1rem;
  }

  .subtitle {
    font-size: 1.625rem;
  }

  .content {
    max-width: 87.5rem;
    padding: 0 2rem;
  }

  .text {
    font-size: 1.375rem;
    line-height: 1.75;
    margin-bottom: 1.375rem;
  }
}

.button {
  background: var(--color-darker-blue);
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.875rem 1.75rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 1.5rem;
}

.button:hover {
  background: var(--color-blue);
  color: white;
}
