.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 32px;
  object-fit: contain;
}

.buttonMenuToggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  display: block;
  z-index: 1100;
}
.list {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  background-color: var(--color-background-blue);

  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  list-style: none;
  font-weight: 800;
  text-align: center;
  z-index: 999;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.listOpen {
  max-height: 100vh;
  opacity: 1;
}

.link {
  text-decoration: none;
  color: var(--color-input);
  font-weight: 500;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.link:hover {
  color: var(--color-darker);
}

.active {
  color: var(--color-blue);
  font-weight: 700;
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 0 0 0;
  list-style: none;
  font-size: 14px;
}

.submenu li {
  position: relative;
  padding-left: 20px;
  width: 100%;
  margin-left: 20px;
  text-align: left;
}

.submenu .link {
  text-transform: none;
}

.hasSubmenu:hover > .submenu {
  display: flex;
}

.submenu li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--color-darker-blue);
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .buttonMenuToggle {
    display: none;
  }
  .submenu li {
    margin-left: 0;
  }

  .logo {
    height: 40px;
  }

  .list {
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-align: center;
    position: static;
    padding: 0;
    background: transparent;
    font-weight: 500;

    max-height: none;
    opacity: 1;
    overflow: visible;
    transition: none;
  }

  .hasSubmenu {
    position: relative;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--color-background);
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .hasSubmenu:hover > .submenu {
    display: flex;
  }
}

@media only screen and (min-width: 1440px) {
  .list {
    gap: 32px;
    font-weight: bold;
  }

  .logo {
    height: 48px;
  }
}
