.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background-blue);
}

.logo {
  height: 32px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.buttonMenuToggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 28px;
  display: block;
  z-index: 1100;
}

.list {
  position: absolute;
  top: 52px;
  left: 0;
  right: 0;
  background-color: var(--color-background-blue);

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  list-style: none;
  font-weight: 800;
  text-align: center;

  z-index: 999;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.listOpen {
  max-height: 100vh;
  opacity: 1;
}

.contactItem {
  display: none;
}

.link {
  text-decoration: none;
  color: var(--color-darker-blue);
  font-weight: 500;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-darker);
}

.active {
  color: var(--color-blue);
  font-weight: 700;
}

.hasSubmenu {
  position: relative;
}

.submenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 8px;
  padding-bottom: 10px;
  list-style: none;
  font-size: 16px;
}

.submenu li {
  position: relative;
  padding-left: 20px;
  text-align: left;
}

.submenu li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: var(--color-darker-blue);
  font-weight: bold;
}

.submenu .link {
  text-transform: none;
}

@media (min-width: 768px) {
  .wrapper {
    padding-right: 20px;
  }

  .text {
    font-size: 16px;
    color: var(--color-input);
    font-weight: 600;
    margin: 0;
  }

  .buttonMenuToggle {
    display: none;
  }

  .logo {
    height: 40px;
  }

  .list {
    position: static;
    flex-direction: row;
    gap: 10px;
    padding: 0;
    background: transparent;
    font-size: 14px;
    max-height: none;
    opacity: 1;
    overflow: visible;
    transition: none;
  }

  .contactItem {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }

  .icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
  }

  .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 18px;
    background: var(--color-background);
    padding: 12px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .hasSubmenu:hover > .submenu {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .list {
    gap: 30px;
    font-size: 22px;
  }

  .logo {
    height: 48px;
  }

  .submenu {
    font-size: 20px;
  }

  .text {
    font-size: 20px;
  }

  .icon {
    height: 36px;
    width: 36px;
  }
}
