.footerSection {
  background-color: var(--color-background-blue);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 16px;
}

.logo {
  height: 32px;
  object-fit: contain;
}

@media only screen and (min-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 24px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .footerContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
  }
}
