:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-input);

  --color-background: #fff;
  --color-background-section: #f9f9f9;
  --color-background-blue: #eef9fb;
  --color-red: #9b6881;
  --color-red-light: #bf4d7e;
  --color-blue: #1fb4cc;
  --color-darker-blue: #3c94a3;
  --color-black: #070721;
  --color-white: #f7fffb;
  --color-input: #595d62;
  --color-input-light: #555;
  --shadow-focus: 0px 0px 0px 4px rgba(78, 70, 180, 0.2);
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
a {
  font-weight: 500;
  color: var(--color-darker-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-blue);
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-input);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-darker-blue);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--color-blue);
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--color-blue);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-input);
    background-color: var(--color-background);
  }
}
