.section {
  background-image: url("../../assets/images/Banner-Mobil.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 16px;
  color: white;
  text-align: left;
}
.title {
  margin-top: 400px;
  color: var(--);
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}
/* .section {
  background-size: contain; 
  background-position: top center;
  background-repeat: no-repeat;
} */
.comment {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(----color-input);
  padding-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .comment {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 30px;
  }
  .title {
    font-size: 5.2em;
    line-height: 1.33;
  }

  .section {
    background-image: url("../../assets/images/Banner.jpg");
    background-size: cover;
    background-position: center;
    padding-left: 64px;
  }
}

@media only screen and (min-width: 1440px) {
  .comment {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    padding-bottom: 40px;
  }
}
