.section {
  background-image: url("../../assets/images/mainBanner-mobile-with-logo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: calc(100vh - 52px);
  /* min-height: 100%; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-start; */

  /* padding: 0; */
  color: var(--color-white);
  /* text-align: left; */
}

.title {
  font-size: 2rem;
  font-weight: bold;
  /* -webkit-text-stroke: 2px #1fb4cc; */
  text-shadow: 3px 3px 0 #1fb4cc, -2px 2px 0 #1fb4cc, 2px -2px 0 #1fb4cc,
    -2px -2px 0 #1fb4cc;
  margin: 0 auto;
}

/* Tablet */
@media (min-width: 768px) {
  .section {
    background-image: url("../../assets/images/mainBanner-tablet.webp");
    min-height: calc(100vh - 48px);
    padding: 0;
  }

  .title {
    font-size: 3rem;
    line-height: 1.2;
    margin: 100px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .section {
    background-image: url("../../assets/images/mainBanner.webp");
    min-height: calc(100vh - 56px);
    padding: 0;
  }

  .title {
    font-size: 4rem;
  }
}
