.section {
  background-image: url("../../assets/images/mainBunner-mobil.webp");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  min-height: calc(100vh - 52px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-white);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 3px 0 #1fb4cc, -2px 2px 0 #1fb4cc, 2px -2px 0 #1fb4cc,
    -2px -2px 0 #1fb4cc;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .section {
    background-image: url("../../assets/images/mainBunner-tablet.webp");
    background-position: top right;
    min-height: calc(100vh - 48px);
    padding: 0;
  }

  .title {
    font-size: 3rem;
    line-height: 1.2;
    margin: 100px;
  }
}

@media (min-width: 1440px) {
  .section {
    background-image: url("../../assets/images//mainBunner.webp");
    min-height: calc(100vh - 56px);
    padding: 0;
  }

  .title {
    font-size: 4rem;
  }
}
